.align-center {
  text-align: center !important;
}

.bold {
 font-weight: bolder !important;
}

.button {
  margin-top: 20px;
  margin-right: 20px;
}

.directions {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa.fa-heart {
  padding-right: 5px;
}

.field {
  margin: 20px;
}

.help {
  font-size: 20px !important;
}

.icnDiv {
  background-color: WhiteSmoke !important;
  margin: 0 auto;
  width: 275px;
  border-radius: 25px;
}

.inner-tabs {
  display: flex;
  justify-content: center;
}

.inner-tabs a {
  padding-right: 20px;
  font-size: 20px;
}

.is-green {
  color: green !important;
}

.is-grey {
  color: grey !important;
}

.is-hidden {
  display: none;
}

.is-highlighted {
  background-color: yellow;
}

.is-red {
  color: red !important;
}

.is-selected {
  text-decoration: underline;
}

.is-white {
  color: white !important;
}

.label {
  padding-right: 10px;
}
.PositiveFeedback {
  color: green;
}

.Preselectedverb {
  background-color: yellow;
}

.PromptImage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.tblDiv {
text-align: left;
margin-left: 50px;
}

.WritingPrompt {
  margin-top: 20px;
  margin-bottom: 20px;
}
